//when you want to run this on a GCP bucket
//workDir = 'gs://nextflow-pipeline-bckt/metabolomics/nmr-1D/work'

process {
    // definition of the local executor. Run the pipeline in the current computer.
    executor = "local"
    //container = "test_deep_nmr:latest"
    debug = true
    //executor = 'google-batch'
}

docker {
    enabled = true
    //runOptions = '--platform=linux/amd64'
}

//To run on GCP
//google {
//    project = ''
//    location = 'europe-west1'
//    batch.spot = true
//}

